<% for column in Library.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @library.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @library %> |
<%= link_to 'Back', :action => 'list' %>
